<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= venue.image %>" alt="<%= venue.venueName %>">
      </figure>
    </div>
    <div class="column venueShowPage">
      <h3 class="title"><%= venue.venueName %></h3>
      <h4 class="subtitle"><%= venue.location %></h4>

      <div class="class-list">
        <h3 class="title is-6" id="classesLink">Classes here: </h3>
        <% classes.forEach(class => { %>
          <a href="/classes/<%= class._id %>"><%= class.className %></a>
          <% }) %>


      <% if(locals.isAuthenticated) { %>
        <div class="column showPageButtons">
        <a href="/venues/<%= venue._id %>/edit" class="button">Edit</a>
        <form method="POST" action="/venues/<%= venue._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button">Delete</button>
        </form>
        </div>
        <hr />
        <form method="POST" action="/venues/<%= venue._id %>/comments">
          <div class="field">
            <div class="control">
              <input name="maintitle" class="input" type="text" placeholder="Subject Title">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="content" placeholder="Write a review..."></textarea>
            </div>
          </div>
          <div class="field">
          </div>
          <div class="field">
            <button class="button is-primary">Submit</button>
          </div>
        </form>
        <hr />
        <ul class="comments">
          <% venue.comments.forEach(comment => { %>
            <li>
            <div class="box">
            <% if(comment.isOwnedBy(locals.currentUser)) { %>
              <form class="delete" method="POST" action="/venues/<%= venue._id %>/comments/<%= comment._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="button is-primary">Delete</button>
              </form>
              <% } %>
              <article class="media">
                <div class="media-content">
                  <div class="content">
                  <p><strong><%= comment.subject %></strong></p>
                    <p><%= comment.content %></p>
                    <% if(comment.user) { %>
                    <strong><%= comment.user.username %></strong>
                    <% } %>
                  </div>
                </div>
              </article>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>Log in to leave a review</p>
        <% } %>


    </div>
  </div>
</div>
