<h1>Edit <%=klass.name%></h1>

<div class="container">

<form action="/classes/<%= klass._id%>" method="POST">
<input type="hidden" name="_method" value="PUT">
  <div class="input-field">
    <select name="discipline" id="discipline">
      <option disabled selected>Please select your discipline</option>
      <option value="aerialSilks">Aerial Silks</option>
      <option value="aerialHoop">Aerial Hoop</option>
      <option value="aerialStraps">Aerial Straps</option>
      <option value="staticTrapeze">Static Trapeze</option>
      <option value="aerialSlings">Aerial Slings</option>
      <option value="chinesePole">Chinese Pole</option>
    </select>
    <label>Discipline</label>
  </div>
    <div class='input-field'>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= klass.name %>" required>
    </div>
  <div class='input-field'>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" value="<%= klass.image %>"required>
  </div>
  <div class='input-field'>
    <label for="price">Price</label>
    <input type="text" name="price" id="price" value="<%= klass.price %>" required>
  </div>
  <div class='input-field'>
    <label for="addressLine1">Address Line 1</label>
    <input type="text" name="addressLine1" id="addressLine1" value="<%= klask.addressLine1 %>">
  </div>
  <div class='input-field'>
    <label for="addressLine2">Address Line 2</label>
    <input type="text" name="addressLine2" id="addressLine2" value="<%= klass.addressLine2 %>">
  </div>
  <div class='input-field'>
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" id="postcode" value="<%= klass.postcode %>">
  </div>
  <button class="button is-danger">Save Changes</button>
  </form>


  <form action="/classes/<%= klass.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button class="button is-primary">Delete Class</button>
</form>
</div>
