<div class="container">
<h1 class= "title is-1"><%= klass.name %></h1>
<img src='<%= klass.image%>' alt='<%=klass.name%>'/>
<h5 ><%=klass.description%></h5>
<h5 class= "subtitle">£<%= klass.price %> per class</h5>
<h5 class= "subtitle">Class starts at <%= klass.time %></h5>

<div>
 <% if(klass.comments.length > 0){ %>
   <% klass.comments.forEach(comments => { %>
    <% if(comment.isOwnedBy(locals.currentUser)) { %>
      <img src="<%= comments.user.profilePicture %>" alt="Profile picture of <%= comments.user.name%>">
      <%= comments.user.name %>
      <%= comments.comment %>
      <% } %>
      <% }) %>
   <% } else { %>
     <p>Be the first to review </p>
   <% } %>
    <% if(locals.isLoggedIn){ %>
        <form action="/classes/<%= klass._id %>" method="POST">
              <textarea name="comment" id="comment"</textarea>
              <label for="comment">Write your review here</label>
             <input type="hidden" name="user" value="<%= user._id %>">
            <button class="button is-danger">Submit</button>
          </div>
        </form>
        <a href='/classes/<%= klass._id %>/edit'>Edit this class</a>
      </div>
   <% } else { %>
     <h5 class="subtitle">You must be logged in to make a comment</h5>
     <a href='/login'>Login</a>
     <a href='/register'>Sign up</a>
   <% } %>

</div>
