<h1><%= class.name %></h1>
<h2><%= class.time %></h2>
<h2><%= class.addressLine1 %></h2>
<h2><%= class.addressLine2 %></h2>
<h1><%= class.postcode %></h1>
<h1><%= class.name %></h1>

<img src='<%= class.image' alt='<%=class.name%>'/>

<h4><%=class.description%></h4>
<h6><%=class.website%></h6>
